body {
    margin: 0;
    border: none;
    padding: none;
    background-color: red;
    width:100vw;
    height:100vh;
}

.game-container {
    background-color: beige;
    width: 45em;
    height: 45em;
}